<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.css">
    <title>Главная страница</title>
</head>

<body>
<header class="header">
    <div class="header-logo">
        <img src="logo.svg" class="logo">
    </div>

    <ul class="nav">
        <li class="nav-list"><a href="#"><span class="new">Home</span></a></li>
        <li class="nav-list"><a href="#">Notification</a></li>
        <li class="nav-list"><a href="#">Watch</a></li>
        <li class="nav-list"><a href="#">Marketplace</a></li>
        <li class="nav-list"><a href="#">Groups</a></li>
        <li class="nav-list"><a href="#">Messenger</a></li>
        <li class="nav-list"><a href="#">Live</a></li>
    </ul>

    <div class="search-img">
        <img src="" alt="">
    </div>

    <div class="profile-img">
        <img src="profile.svg" alt="">
    </div>
</header>

<div class="one-line-container">
    <div class="menu border_6px">
        <ul class="menu-container">
            <li><a href="#"><img src="group.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="vector.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="third.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="four.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="five.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="six.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="seven.svg" class="menu-img"></a></li>
            <li><a href="#"><img src="eight.svg" class="menu-img"></a></li>
        </ul>
    </div>

    <div class="first-column">
        <div class="profile-container border_6px">
            <div class="profile-img">
                <img src="profile.svg" alt="">
            </div>
            <span class="name-post">Bekbolatova Diana</span>

            <span class="active">Active Now</span>

            <div class="call-container">
                <img src="call.svg" alt="">
                <span class="call fw_500">Call</span>
            </div>
        </div>

        <h2>Online contacts</h2>

        <div class="friends-container border_6px">

            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Kaztaev Rauan</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Ualihan Nurkhan</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Bekishova Botagoz</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Bakhytzhan Aiym</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Adebiet Akbota</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Serikbol Asan</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Murat Nazerke</span>
            </div>
            <hr>
            <div class="friend-container">
                <img src="profile.svg" alt="" width="30px" height="30px">
                <span>Eleusiz Ulpan</span>
            </div>
            <hr>
        </div>
    </div>

    <div class="second-column">

        <div class="on-mind border_6px">
            <span>What's on your mind, Diana?</span>
        </div>

        <div class="post1-container border_6px">
            <div class="person-inf">
                <img src="profile.svg" alt="">
                <div class="classs">
                    <span class="name-post">Bekbolatova Diana</span>
                    <span class="active"> 1 hour ago</span>
                </div>
            </div>

            <div class="text-post">Education is not the filling of a pail, but the lighting of a fire.</div>
            <img class="likes" src="likes.png" alt="" width="121px" height="26px">
        </div>


        <div class="post1-container razmer border_6px">
            <div class="person-inf">
                <img src="profile.svg" alt="">
                <div class="classs">
                    <span class="name-post">Bekbolatova Diana</span>
                    <span class="active"> 1 hour ago</span>
                </div>
            </div>

            <span class="text-post">Having fun while cooking and eating variety of foods with </span>

            <div class="imgs-in_post">
                <img src="first_des.png" alt="" width="332px" height="233px">
                <div class="img-in_column">
                    <img src="second_des.png" alt="" width="217px" height="112px">
                    <img src="third_des.png" alt="" width="217px" height="112px">
                </div>
            </div>
            <img class="likes" src="likes.png" alt="" width="121px" height="26px">
        </div>
    </div>

    <div class="third-column">
        <h2>Stories</h2>

        <img src="stories.png" alt="" width="365px" height="210px">

        <div class="watch-container border_6px">

        </div>

        <h2>Who to Follow</h2>
        <div class="follow-container border_6px">

            <div class="followers-cont">
                <div class="follower-cont">
                    <img src="profile.svg" alt="" width="40px" height="40px">
                    <span class="follow-txt">Abren Tanzila</span>
                    <button type="button">Follow</button>

                </div>

                <div class="follower-cont">
                    <img src="profile.svg" alt="" width="40px" height="40px">
                    <span class="follow-txt">Maratov Rysbek</span>
                    <button type="button">Follow</button>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>