<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Facebook</title>
</head>

<body>
<div class="main-container">
    <header class="facebook-header">
        <div class="header-img">
            <img src="facebook.svg" class="fb-img">
        </div>
        <span class="header-txt">Facebook помогает вам всегда <br> оставаться на связи и общаться <br> со своими
                знакомыми.</span>
    </header>

    <main class="facebook-main">
        <div class="form-container">
            <form method="POST" action="" class="form-facebook" id="form">
                <label><input name="email" type="text" placeholder="Электронный адрес или номер телефона"
                              class="main-form"></label>
                <label><input name="password" type="password" placeholder="Пароль" class="main-form ml_pass"></label>
                <button class="main-sign_in" type="submit" onclick="document.location='home'"><span
                        class="main-txt">Вход</span></button>
                <a href="#"><span class="main-forget">Забыли пароль? </span></a>
                <hr class="main-line">
                <a href="#">
                    <button class="main-sign_up" type="button" onclick="document.location='register'"><span
                            class="main-txt txt-2">Создать новый аккаунт</span></button>
                </a>
            </form>
        </div>

    </main>
</div>

<footer class="facebook-footer">
    <div class="footer-person">
        <ul>
            <nav>Rauan</nav>
            <nav>8 707 535 20 54</nav>
            <nav>email: <a href="https://e.mail.ru/compose/?to=rtishtyk@mail.ru">rtishtyk@mail.ru</a></nav>
        </ul>
    </div>

    <div class="footer-person">
        <ul>
            <nav>Diana</nav>
            <nav>8 747 594 39 10</nav>
            <nav>email: <a href="https://e.mail.ru/compose/?to=bekbolatova7@mail.ru">bekbolatova7@mail.ru</a></nav>
        </ul>
    </div>

    <div class="footer-person">
        <ul>
            <nav>Nurkhan</nav>
            <nav>8 775 629 13 83</nav>
            <nav>email: ualihann806@gmail.com</nav>
        </ul>
    </div>
</footer>

</body>
</html>
